{% extends '_base.html' %}
{% load i18n %}
{% load account %}

{% block had_title %}{% trans 'Confirme su dirección de correo' %}{% endblock %}

{% block content %}
<h1>{% trans 'Confirme su dirección de correo electrónico' %}</h1>
{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <p>{% blocktrans with confirmation.email.address.email as email %}Por favor confirme que <a href="mailto:{{ email }}">{{ email }}</a> es un email para el usuario {{ user_display }}{% endblocktrans %}</p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">
            {% trans 'Confirmar' %}
        </button>
    {% else %}
        {% url 'account_email' as email_url %}
        <p>{% blocktrans %}Este enlace de correo de confirmación ha expirado o es inválido. Por favor <a href="{{ email_url }}">realice una nueva petición de email de confirmación</a>{% endblocktrans %}</p>
    </form>
{% endif %}
{% endblock %}